# For those using Visual Studio Code for development
.vscode/

# VC Linux build artifacts
*.o
*.o0
*.d
*.a
*.bmp.h
*.xml.h
*.txt.h
*.h.gch
src/Main/veracrypt

# VC macOS build artifacts
src/Main/VeraCrypt
src/Main/VeraCrypt.app
src/Main/*.dmg
src/Setup/MacOSX/*.pkg
*.oo
*.o.32
*.o.64
.DS_Store

# wxWidgets Linux build artifacts
src/wxrelease
src/wxdebug

