# For those using Visual Studio Code for development
.vscode/

# VC Linux build artifacts
*.o
*.o0
*.d
*.a
*.bmp.h
*.xml.h
*.txt.h
*.h.gch
src/Main/veracrypt

# VC macOS build artifacts
src/Main/VeraCrypt
src/Main/VeraCrypt.app
src/Main/*.dmg
src/Setup/MacOSX/*.pkg
*.oo
*.o.32
*.o.64
.DS_Store

# wxWidgets Linux build artifacts
src/wxrelease
src/wxdebug

src/.vs

src/Boot/Windows/obj
src/Boot/Windows/Release
src/Boot/Windows/Release_AES
src/Boot/Windows/Release_AES_SHA2
src/Boot/Windows/Release_Camellia
src/Boot/Windows/Release_Camellia_SHA2
src/Boot/Windows/Release_Serpent
src/Boot/Windows/Release_Serpent_SHA2
src/Boot/Windows/Release_SHA2
src/Boot/Windows/Release_Twofish
src/Boot/Windows/Release_Twofish_SHA2
src/Boot/Windows/Rescue
src/Boot/Windows/Rescue_AES
src/Boot/Windows/Rescue_AES_SHA2
src/Boot/Windows/Rescue_Camellia
src/Boot/Windows/Rescue_Camellia_SHA2
src/Boot/Windows/Rescue_Serpent
src/Boot/Windows/Rescue_Serpent_SHA2
src/Boot/Windows/Rescue_SHA2
src/Boot/Windows/Rescue_Twofish
src/Boot/Windows/Rescue_Twofish_SHA2

src/Common/Debug
src/Common/obj_driver_debug
src/Common/obj_driver_release
src/Common/Release
src/Common/x64
src/Common/ARM64
src/Common/*.log

src/Crypto/Debug
src/Crypto/obj_driver_debug
src/Crypto/obj_driver_release
src/Crypto/Release
src/Crypto/x64
src/Crypto/ARM64

src/Debug

src/Driver/Debug
src/Driver/obj
src/Driver/obj_driver_debug
src/Driver/obj_driver_release
src/Driver/Release
src/Driver/ARM64

src/ExpandVolume/Debug
src/ExpandVolume/Release
src/ExpandVolume/x64
src/ExpandVolume/ARM64
src/ExpandVolume/*.tlb

src/Format/Debug
src/Format/Release
src/Format/x64
src/Format/ARM64
src/Format/*.tlb
src/Format/FormatCom_h.h
src/Format/FormatCom_i.c

src/Mount/Debug
src/Mount/Release
src/Mount/x64
src/Mount/ARM64
src/Mount/*.tlb
src/Mount/MainCom_h.h
src/Mount/MainCom_i.c

src/Setup/Debug
src/Setup/PortableDebug
src/Setup/Release
src/Setup/PortableRelease

src/SetupDLL/Debug
src/SetupDLL/Release